<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Spam Classifier</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Email Spam Classifier</h1>
        <form method="post">
            <textarea name="email" rows="15" cols="10" placeholder="Paste your email to check if it is a Spam">{{ request.form['email'] }}</textarea>
            <button type="submit">Classify</button>

            </form>
            {% if result %}
            <h2>{{ result }}</h2>
            {% endif %}
    </div>
    
</body>
</html>